doctype html
html
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Plugin Base 2
    link(href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap")
    link(rel="stylesheet" href="main.min.css")
  body.page
    .login-2
      .left
        .left-inner
          form
            .header
              h3 Login
              a(href="#") esqueci a senha
            .main
              input(placeholder="e-mail")
              input(placeholder="senha")
              button entrar
      .right
        .right-inner
          .logo
            img(src="logo.png")
          .title
            h2 Bem vindo!
          .text
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. 
            p ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. 
            p ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
